<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.darksupply.terminus</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0360FB5-9FDF-457B-9C70-978571FDB81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0360FB5-9FDF-457B-9C70-978571FDB81E</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Dave Wikoff</string>
	<key>description</key>
	<string>Pantheon Workflow for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>terminus open</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>PLEASE WAIT</string>
				<key>script</key>
				<string>exec ${SHELL:-/bin/bash} terminusalfred.sh open $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run.sh</string>
				<key>subtext</key>
				<string>...</string>
				<key>title</key>
				<string>Terminus</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dashboard.pantheon.io/sites/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0360FB5-9FDF-457B-9C70-978571FDB81E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C0360FB5-9FDF-457B-9C70-978571FDB81E</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/derimagia/terminus-alfred</string>
</dict>
</plist>
